body{
    background-color: rgb(224, 220, 222);
    width: 800px;
    margin: 0 auto;
}

h2{
    background-color: rgb(246, 197, 235);
    color: aliceblue;
    border-bottom: 6px solid rgb(248, 64, 208);
    padding: 6px 12px 0 12px;
    margin-bottom: 0 ;
}

h1{
    font-size: 48px;
}

.box{
    background-color: rgb(179, 175, 166);
    padding: 12px;
    border-radius: 0 0 16px 16px;
}